@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;
  
      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;
  
      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;
  
      --primary: 221.4 100% 34.1%; /* #0D47A1 */
      --primary-foreground: 210 40% 98%; /* #F5F5F5 */
  
      --secondary: 210.1 72.4% 45.3%; /* #1976D2 */
      --secondary-foreground: 210 40% 98%; /* #F5F5F5 */
  
      --muted: 210 40% 96.1%; /* #E0E0E0 */
      --muted-foreground: 214 17.2% 43.9%; /* #757575 */
  
      --accent: 44.3 100% 50.8%; /* #FFB300 */
      --accent-foreground: 222.2 84% 4.9%; /* #212121 */
  
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;
  
      --border: 210 16% 93.3%; /* #E0E0E0 */
      --input: 210 16% 93.3%; /* #E0E0E0 */
      --ring: 222.2 84% 4.9%; /* #212121 */
  
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 222.2 84% 4.9%; /* #212121 */
      --foreground: 210 40% 98%; /* #F5F5F5 */
  
      --card: 222.2 84% 4.9%; /* #212121 */
      --card-foreground: 210 40% 98%; /* #F5F5F5 */
  
      --popover: 222.2 84% 4.9%; /* #212121 */
      --popover-foreground: 210 40% 98%; /* #F5F5F5 */
  
      --primary: 210 40% 98%; /* #F5F5F5 */
      --primary-foreground: 221.4 100% 34.1%; /* #0D47A1 */
  
      --secondary: 217.2 32.6% 17.5%; /* #1976D2 */
      --secondary-foreground: 210 40% 98%; /* #F5F5F5 */
  
      --muted: 217.2 32.6% 17.5%; /* #E0E0E0 */
      --muted-foreground: 215 20.2% 65.1%; /* #757575 */
  
      --accent: 217.2 32.6% 17.5%; /* #FFB300 */
      --accent-foreground: 210 40% 98%; /* #F5F5F5 */
  
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;
  
      --border: 217.2 32.6% 17.5%; /* #E0E0E0 */
      --input: 217.2 32.6% 17.5%; /* #E0E0E0 */
      --ring: 212.7 26.8% 83.9%; /* #212121 */
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }